.container{
    display: flex;
    justify-content: space-around;
    z-index: 1;
}

.imagePokedex img{
  margin-top: -9.5em;
  margin-bottom: 5em;
  margin-left: 7em;
}

.container div{
  text-align: center;
  margin-top: 4.25em;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  place-items: center;
  
}



.filters{
  padding: 5px;
  border-radius: 5px;
  background: var(--bg-colors);
  color: white;
  font-weight: bold;
  font-size: large;
}
.filters option{
  background-color: rgb(59, 137, 226);
  font-weight: bold;
}

.container p{
  font-size: larger;
}

.map{
  width: 45px;
  margin: 5px 0;
  margin-top: -1.5em;
  border-radius: 10px;

}

@media (max-width: 391px) {
  .imagePokedex img{
    transform: scale(0.6);
    margin-left: -4em;
    margin-top: -14em;
   }
 
   .containerSelect{
     transform: scale(0.7);
     margin-left: -11em;
   }
}
@media (min-width: 391px) and (max-width: 768px) {
  /* Estilos para pantallas con ancho máximo de 768px */
  .imagePokedex img{
   transform: scale(0.6);
   margin-left: -4em;
   margin-top: -14em;
  }

  .containerSelect{
    transform: scale(0.7);
    margin-left: -11em;
  }

}

@media (min-width: 768px) and (max-width: 992px) {
  /* Estilos para pantallas con ancho entre 768px y 992px */
}

@media (min-width: 992px) {
  /* Estilos para pantallas con ancho mínimo de 992px */
}