.containerFather{
    background: var(--bg-colorss);
}

.container{
    display: flex;
    flex-wrap: wrap;
    background: var(--bg-color);
    border-radius: 40px;
}

.main{
    background: var(--bg-colors);
    padding-bottom: 4.4em;
}


.img{
    background-color: rgba(95, 84, 243, 0.035);
    padding: 10px;
    border-radius: 150px;
}
.img:hover{
    box-shadow: 0px 0px 25px #ffffff;
    backdrop-filter: blur(10px);
}

.texts{
    width: 12em;
    height: 10em;
    padding: 10px;
    text-decoration: none;
    align-items: center;
    border-radius: 250px;
    justify-content: center;
    display: flex;

}

.spans{
    display: block;
    flex-direction: row;
    color: black;
    font-weight: bold;
}

.notFound{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    color: white;
    padding: 10px;
}

.notFound img{
    border-radius: 100px;
    width: 10em;
}

.notFound p{
    font-size: 18px;
    font-weight: bold;
}

@media (max-width: 391px) {
 .texts{
    width: 11em;
    height: 8em;
    padding: 15px;
 }

}
@media (min-width: 391px) and (max-width: 768px) {
  /* Estilos para pantallas con ancho máximo de 768px */
 
}

@media (min-width: 768px) and (max-width: 992px) {
  /* Estilos para pantallas con ancho entre 768px y 992px */
}

@media (min-width: 992px) {
  /* Estilos para pantallas con ancho mínimo de 992px */
}