.container{
    display: flex;
    justify-content: center;
    height: 39em;
    background: var(--bg-colors);
    align-items: center;
    color: rgb(110, 107, 107);
    font-weight: bold;
    
}
.container div{
    display: flex;
    flex-direction: column;
    text-align:center ;
}
.container img{
    border-radius: 200px;
    width: 12em;
}

@media (max-width: 391px) {
 .container{
    height: 55em;
 }

}
@media (min-width: 391px) and (max-width: 768px) {
  /* Estilos para pantallas con ancho máximo de 768px */
  .container{
    height: 55em;

 }
}

@media (min-width: 768px) and (max-width: 992px) {
  /* Estilos para pantallas con ancho entre 768px y 992px */
  .container{
    height: 65em;

 }
}

@media (min-width: 992px)  {
  /* Estilos para pantallas con ancho mínimo de 992px */
  
}